.factors-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-section {
  width: 100%;
}

.info-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.info-card {
  flex: 1 1 300px;
  max-width: 100%;
  background: var(--surface-color);
  border-radius: var(--default-border-radius);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.info-section {
  margin-bottom: 2rem;
}

.section-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1rem 0rem;
  color: var(--text-color);
}

.headline-para{
  color: var(--text-color);
}

.btn-show {
  float: right;
  margin-right: 1rem;
  margin-bottom: 1;
}
@media (max-width: 768px) {
  .info-card {
    flex: 1 1 100%;
  }
}
