header {
  background-color: var(--surface-color);
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px var(--nav-box-shadow-color);
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 2000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.brand {
  font-size: 1.5rem;
  font-weight: var(--default-text-weight);
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 1px;
}

.active-brand {
  color: var(--link-active);
}

nav {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: var(--default-text-weight);
  transition: color 0.2s ease, border-color 0.2s ease;
  white-space: nowrap;
  border-bottom: 1px solid transparent;
}

.navbar-link:hover,
.active-link {
  color: var(--link-active);
  border-bottom-color: var(--link-active);
}

@media (max-width: 820px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
}
