@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --primary-color: #005c99;
  --bg-color: #f5f5f5;
  --surface-color: #fefefe;
  --surface-hover-color: #e7ebe7;
  
  --text-color: #424242;
  --btn-hover-color: #2e87c2;
  --default-hover: #0d6eaf;
  --link-active: #005c99;

  --warming-accent: #e65100;
  --error-color: rgb(228, 75, 75);

  --positive-accent: rgba(99, 141, 102, 0.75);
  --moderate-accent: rgba(255, 112, 67, 0.75);
  --negative-accent: rgba(218, 51, 0, 0.75);
  --co2-accent: #ff3d3d;
  --ch4-accent: #00bcd4;
  --n2o-accent: #9c27b0;
  --sf6-accent: #4caf50;
  --ice-accent: #01579b;

  --temp-accent: #5eb97b;
  --ocean-accent: #29b6f6;
  --glaciers-accent: #206e79;

  --default-border-radius: 8px;
  --small-border-radius: 4px;
  --default-text-weight: 600;
  --nav-box-shadow-color: rgba(0, 0, 0, 0.05);
  --aqi-good: rgba(139, 195, 74, 0.5);
  --aqi-fair: rgba(255, 235, 59, 0.5);
  --aqi-moderate: rgba(255, 152, 0, 0.5);
  --aqi-poor: rgba(244, 67, 54, 0.5);
  --aqi-very-poor: rgba(156, 39, 176, 0.5);
  --aqi-unknown: rgba(150, 150, 150, 0.5);
}

.dark {
  --primary-color: rgb(235, 105, 105);
  --bg-color: #121212;
  --surface-color: #2e2c2c;
  --surface-hover-color: #383737;
  --text-color: #e0e0e0;
  --default-hover: rgb(247, 145, 145);

  --link-active: rgb(235, 105, 105);
  --warming-accent: #ff6f00;
  
  --error-color: rgb(228, 75, 75);

  --co2-accent: #ff6b6b;
  --ch4-accent: #4dd0e1;
  --n2o-accent: #ab47bc;
  --sf6-accent: #66bb6a;

  --ice-accent: #42a5f5;
  --temp-accent: #5eb97b;
  --negative-accent: #ff7043;
  --ocean-accent: #29b6f6;
  --glaciers-accent: #206e79;
  --default-border-radius: 8px;
  --nav-box-shadow-color: rgba(255, 255, 255, 0.05);

  --aqi-good: rgba(139, 195, 74, 0.5);
  --aqi-fair: rgba(255, 235, 59, 0.5);
  --aqi-moderate: rgba(255, 152, 0, 0.5);
  --aqi-poor: rgba(244, 67, 54, 0.5);
  --aqi-very-poor: rgba(156, 39, 176, 0.5);
  --aqi-unknown: rgba(150, 150, 150, 0.5);
}

* {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: var(--bg-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 0rem 4rem;
}

.btn {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: var(--default-border-radius);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--default-hover);
}

@media (max-width: 768px) {
  main {
    margin: 0rem 1rem;
  }
  .content {
    flex-direction: column;
  }

  .text-content,
  .image-container {
    flex: 1 1 100%;
    width: 100%;
  }
}
